
<p>

  <h2><%= @user.username %> <% if @user.banned %><span class="label label-info text-uppercase">Account frozen</span><% end %>
  </h2></p>

<p>
  Has made <%= @user.ratings.count %> ratings with an average of <%= round(@user.average_rating) %>. </br>Favourite style is <%= @user.favorite_style %>.
</p>

  <% if @user.beer_clubs.any? %>
    <p>
      member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>

    </p>
  <% end %>


<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
<p>
  <% status='Reactivate'
     status='Freeze' unless @user.banned
     %>
  <%= link_to "#{status} account", toggle_frozen_user_path(@user.id), method: :post, class: "btn btn-warning" if current_user.admin and current_user.id != @user.id%>
</p>
<p>
  <%= edit_and_destroy_buttons(@user) %>
  </p>
<p>
<%= link_to 'Back', users_path, class:'btn btn-default'%>
</p>