<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>
<ul>
  <% @ratings.each do |rating| %>
      <% if not rating.user.nil? %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %></li>
      <% else %>
          <li> <%= rating %> ERROR: Ei useria kiinni tässä! </li>
      <% end %>
  <% end %>
</ul>
<p>
  <%= link_to "New Rating", new_rating_path %>
</p>