<p>
<h2><%= @style %></h2>
</p>
<p>
  <%= @style.description %>
</p>
<p>
<ul>
  <% @style.beers.all.each do |b| %>
      <li><%= link_to b%></li>
  <% end %>
</ul>
</p>

<p><%= link_to 'Back', styles_path, class:'btn btn-default' %></p>
<p>
  <%= edit_and_destroy_buttons(@style) %>
</p>
